/*border-box - все внутренние отступы и границы включены в размер блока (content-box - по умолч)*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
/*---*/

/*Fonts*/
@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'Space Age Cyrillic';
    src: url('../fonts/SpaceAgeCyrillic-Regular.woff2') format('woff2'),
         url('../fonts/SpaceAgeCyrillic-Regular.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
/*---*/

body {
    color: #fff;
    font-family: 'sf-pro-display';
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

a {
    color: inherit; /*заимствование у родителя (body)*/
    text-decoration: none;
}

.container {
    max-width: 1220px; /*20px on l-r paddings*/
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-family: 'Space Age Cyrillic';
    font-size: 48px;
    line-height: 48px;
    padding: 100px 0;
    font-weight: 400;
}

.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
    padding: 20px 45px;
    border: 1px solid #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: all .4s linear;
}

#btn:hover {
    background-color: rgba(255, 255, 255, .6);
    color: black;
    border: 1px solid #000;
    box-shadow: inset 0 0 30px 10px #000;
    border-radius: 15px;
}

/*1 block*/
.header {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.header__inner {
    display: flex;
    flex-direction: column; /*повернули оси (на 90deg)*/
    justify-content: space-between;
    min-height: 100vh; /*header image & 3 theme blocks on full screen (vh=per cent)*/
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center; /*горизонтальное выравнивание*/
    padding: 75px 0 30px;
}
.menu__list {
    display: flex;
}
.menu__item {
    margin-right: 30px;
}
.menu__link {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;   
    transition: color .6s linear;
}
.menu__link:hover {
    color: #CB0E0E;   
    padding-bottom: 2px;
    border-bottom: 1px solid #CB0E0E;
}
.phone {
    font-size: 24px;
    line-height: 29px;
    margin-left: auto;
    margin-right: 22px;
    transition: color .4s ease-in-out;
}
.phone:hover {
    opacity: .8;
    color:#CB0E0E;
}
.login {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 134px;
    transition: .5s ease-in-out;
}
.login:hover {
    transform: rotate(360deg);
}
.header__content {
    max-width: 600px;
}
.header__title {
    font-family: 'Space Age Cyrillic';
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}
.header__title span {
    font-size: 110px;
}
.header__text {
    font-size: 24px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.header__btn {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    width: 100%;
    padding: 15px 10px 16px;
    border: 1px solid #fff;
    text-align: center;
    transition: all .4s linear;
}
.header__description {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;
}
.header__description-text {
    font-size: 14px;
    line-height: 17px;
    width: 165px; /*можно статичную ширину, тк меньше 165 этот блок текста уже не будет*/
}
.header__description-text + .header__description-text { 
    margin-left: 52px; /*только следующему элементу (соседям) (кроме первого элемента)*/
}

/*2 block*/
.about {
    background-image: url(../images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /*перепрыгивание блока на след строку при малом экране*/
    padding-bottom: 150px;
}
.about__item:nth-child(odd) {
    flex-direction: row-reverse;
}
.about__img {
    max-width: 100%;
}
.about__content {
    width: 600px;
}
.about__content-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 5px;
}
.about__content-subtitle {
    color: #036CCA;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 31px;
}
.about__content-text {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.about__content-text p {
    width: 165px;
}
.about__content-table {
    margin-bottom: 50px;
}
.about__content-table-tr {
    border: 1px solid #fff;
    border-left: none;
    border-right: none;
}
.about__content-table-tr + .about__content-table-tr { /*все, кроме первой строки*/
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
}
.about__content-table-td {
    padding: 10px 30px 10px 0;
}
.about__content-table-td span {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: block;
}
.about__content-table-caption {
    caption-side: bottom;
    text-align: left;
    margin-top: 20px;
    font-size: 12px;
    line-height: 12px;
}

/*3 block*/
.how-to-occur {
    background-image: url(../images/how_to_occur-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-bottom: 100px;
}
.how-to-occur__box {
    text-align: center;
}
.how-to-occur__box circle,
.how-to-occur__box text,
foreignObject {
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.how-to-occur__box g:hover circle { /*svg star circles in 'g' tag hover*/
    fill: #036CCA;
    r: 20px;
}
.how-to-occur__box g:hover text { /*svg star text in 'g' tag hover*/
    fill: #036CCA;
    font-size: 34px;
}
.how-to-occur__box g:hover foreignObject { /*svg star big text in 'g' tag hover*/
    color: #036CCA;
    font-size: 22px;
}
foreignObject {
    text-align: left;
}
